#Make Slot#x and Slot#y non-final
public-f net.minecraft.world.inventory.Slot x
public-f net.minecraft.world.inventory.Slot y

#Make CreativeModeInventoryScreen$SlotWrapper public
public net.minecraft.client.gui.screens.inventory.CreativeModeInventoryScreen$SlotWrapper

#Make LootContextParamSets#REGISTRY public so I can register my custom entity loot parameter set
public net.minecraft.world.level.storage.loot.parameters.LootContextParamSets REGISTRY

#Make SmithingTemplateItem slot background constants public so that I can use them for my own Smithing Template
public net.minecraft.world.item.SmithingTemplateItem EMPTY_SLOT_INGOT
public net.minecraft.world.item.SmithingTemplateItem EMPTY_SLOT_REDSTONE_DUST
public net.minecraft.world.item.SmithingTemplateItem EMPTY_SLOT_EMERALD
public net.minecraft.world.item.SmithingTemplateItem EMPTY_SLOT_DIAMOND

#Make BlockStateModelLoader#predicate public since the accessor mixin isn't working for some odd reason
public net.minecraft.client.resources.model.BlockStateModelLoader predicate(Lnet/minecraft/world/level/block/state/StateDefinition;Ljava/lang/String;)Ljava/util/function/Predicate; # predicate
